/* Nilufer Anlar, ITMD-Project2, style.css */

/* 
   I used Modular Scale Minor 3rd, 120% in the 
   Math calculations below.
*/

/* === COMMON, SAME STYLE ELEMENTS to All Pages === */
/* make the background color, navigation menu and
   page margins consistent for all three pages  */

body {
  background-color: linen;  /* TEST w other colors */
}

#page {
  margin: 20px 20px 20px 20px;
}

h1 {
  font-size: 14px;  /* forces it to disappear behind nav menu */
  color: gray;
}

.nav {
  background-color: gray;
  position: absolute;  /* forces it over h1 heading */
  width: 100%;
  top: 0;  /* forces it to the top */
  left: 0;  /* forces it to the entire screen */
}

#navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
  display: flex;
  justify-content: center;  /* NHA - WORKS! */
}

#navigation li {
	float: left;
	margin: 0 10px;
}

#navigation ul li a {
	display: block;
	background-color: skyblue;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 10px 0px 8px 0px;
	border-radius: 0;
}

#navigation ul li a:hover {
	background-color: pink;
  color: black;
  border-radius: 0;

}

.clear {
	clear: both;  /* remove float */
}

/* === STYLE ELEMENTS for resume.html ================= */
#content1 {
  
}

/* === STYLE ELEMENTS for hometown.html ===============*/
#content2 {
  color: blue;  /* NHA for water */
}

/* === STYLE ELEMENTS for dogs.html ================== */
#content3 {
  font-family: "Open Sans", sans-serif;
  color: green;
}

#content3 h2 {
  font-weight: 700;   /* for bold effect */ 
}

#content3 p {
  font-size: 14px; /* NHA */
  line-height: 17px;  /* NHA */
}

#content3 #dog1 {
  width: 300px;
  float: left;
  margin-right: 15px;
}

#content3 #dog2 {
  width: 250px;
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

#content3 #dog3 {
  width: 150px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.clear {
	clear: both;  /* remove floats */
}


