/* Nilufer Anlar, ITMD-Project2, style.css */

/* 
   I used Modular Scale Minor 3rd, 120% in the 
   Math calculations below.
*/

/* === COMMON, SAME STYLE ELEMENTS to All Pages === */

/* make the navigation menu consistent for all three pages  */

html {
  font-family: "Times New Roman", Georgia, serif;  /* default for all pages */
}

h2 {
  margin-top: 60px;  /* start below nav menu */
}

.nav {
  background-color: gray;
  position: absolute;  /* forces it over h1 heading */
  width: 100%;
  top: 0;  /* forces it to the top */
  left: 0;  /* forces it to the entire screen */
}

#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#navigation li {
  float: left;
  margin: 0 10px;
}

#navigation ul li a {
  display: block;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0px 8px 0px;
  border-radius: 0;
}

#navigation ul li a:hover {
  background-color: indianred;
  color: black;
  border-radius: 0;

}

.clear {
  clear: both;  /* remove floats */
}

/* NHA, not sure for below */
img, audio, video, iframe {
  display: block;
  max-width: 100%;
}

/* === STYLE ELEMENTS for resume.html ================= */ 

body {
  background-color: linen;
}

#page1 {
  margin: 20px 25px 20px 25px;
}

#content1 {
  /* font-family: "Times New Roman, serif; */
}

#personal, h3 {
  text-align: center;
  margin-bottom: 0;
}

#myphone, #myaddress {
  font-size: 0.8em;
  font-style: oblique;
}

#mypic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%; 
}

#coname {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  margin-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 0;
}

#coposition {
  text-align: left;
  margin-left: 24px;  /* align with taks */
  margin-top: 0;
  margin-bottom: 0;
  font-style: oblique;
}

h5 {
  font-size: 14px;
  font-style: oblique;
  margin-left: 24px;
  margin-bottom: 0;
}

#experience li {
  font-size: 0.8em;
  font-style: oblique;
  margin-left: 24px;
}

#certificates, #cert {
  font-size: 90%;
}

/* === STYLE ELEMENTS for hometown.html =======================*/
/* I used a two-column FLUID-WIDTH layout for this page.
   NOTE: */
   

#body2 {
  margin: 0;
  padding: 0;
}

/* my wrapper */
#body2 {
  width: 100%;  /*960px;  pls see my note above */
  position: absolute;
  margin: 0px, auto;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;   /* at 16px, (16px/16px=1em) */
  line-height: 1.25em;   /* ~120% at 20px, (20px/16px=1.125em) */
  color: darkblue;
  background-color:pink;
}

#main2 {
  float: left;
  width: 60%;   /* 600px; */
  margin: 0 20px;
  background-color: orange;
}

#extras2 {
  float: left;
  width: 30%;   /* px; */
  margin: 0;
  background-color: yellow;
}

#footer {
  clear: left;
}

#body2 h2 {
  color: darkblue;  /* same as the text */
  margin-left: 20px;
}

#istsound {
  background-color: gray;
}

#istmap {
  width: 300px;
}

#istpics {
  /*width: 300px;
  max-width: 300px; */
}

#istvideo {
  border: 2px solid blue;
  width: 300px;
}


/* === STYLE ELEMENTS for dogs.html ================== */

/* I used a two-column FIXED-WIDTH layout for this page.
   NOTE: 
   BUT for some reason, it did NOT cover my entire PC screen.
   Because my PC(LG Gram) screen is much wider than 960px as
   I tested the backgrounds with colors(it is ~1100px wide).
   Therefore, I need Prof. Krieglstein's input. */

#body3 {
  width: 960px;
  margin: 0, auto;
  background-color: beige;
}

#main3 {
  float: left;
  width: 650px;
  margin: 0 20px;
  font-family: "Roboto", sans-serif;
  color: green;
}

#extras3 {
  float: left;
  width: 250px;
  margin: 0;
}

#header h2 {
  font-weight: 700;  /* for bold effect */ 
  margin-left: 20px;
  color: green;
}

#main3 #dog1 {
  width: 300px;
  float: left;
  margin-right: 15px;
}

#main3 #dog2 {
  width: 300px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

#main3 #dog3 {
  width: 200px;
  float: left;
  margin-bottom: 10px;
}


/* === the end ======================================= */

/* === media queries placeholders =====================*/





